# no operators
ai.onnx;13;Reshape{"inputs": {"0": ["float"], "1": ["int64_t"]}, "outputs": {"0": ["float"]}},MatMul{"inputs": {"0": ["float"], "1": ["float"]}, "outputs": {"0": ["float"]}},Relu{"inputs": {"0": ["float"]}, "outputs": {"0": ["float"]}},Add,Sigmoid{"inputs": {"0": ["float"]}, "outputs": {"0": ["float"]}},SoftmaxCrossEntropyLoss,Identity{"inputs": {"0": ["float"]}, "outputs": {"0": ["float"]}},Gemm{"inputs": {"0": ["float"], "1": ["float"]}, "outputs": {"0": ["float"]}}
com.microsoft;1;SoftmaxCrossEntropyLossGrad,SigmoidGrad,ReluGrad,InPlaceAccumulatorV2,AdamWOptimizer
